upstream node-download-server {
    server ${app_server_ip}:8001;
}

server {
    listen       80;
    server_name  localhost;

    root   /resources;

    location / {
        include conf.d/proxy.conf;
        autoindex on;
    }


    location /resources { 
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header Host $http_host;
        proxy_pass http://node-download-server;
    }  
}